@media screen and (max-width: 655px){
    body{
        display: flex;
        flex-direction: column;
    }

    div,head,body,.top-container,.bottom-container,.bottom-cloud,.top-cloud,.btn{
        width: 100%;
    }
}

body {
	color: #40514E;
	background-color: #f0f0f0;
	margin: 0;
	text-align: center;
	font-family: 'Merriweather', serif;
}

h1 {
	font-size: 5rem; /* 16px = 100% = 1em    from CSS3 the rem has more power to set a Static font size root element font*/
	margin: 50px auto 0 auto;
	font-family: 'Merienda One', cursive; 
	/* font-family: 'Sacramento', cursive; */
	color: #66BFBF;
	line-height: 2;
}

h2{
	padding-bottom:10px ;
	font-family: 'Montserrat', sans-serif;
	font-size: 2.5rem;
	color: #66BFBF;
	font-weight: normal;

}

h3{
	font-family: 'Montserrat', sans-serif;
	color: #11999E;
}

hr{
	border-top: #DDDDDD dotted 8px;
	width: 5%;
	margin: 100px auto ;
}


.top-container {
	position: relative;
	padding-top: 200px;
	background-color: #e4f9f5;
	
}
.intro{
	width: 40%;
	margin: auto;
}

.contact-me{
	width: 50%;
	margin: 40px auto 60px;
}

.middle-container {
	margin: 100px 0px;
	
}
.bottom-container {
	padding: 50px 0px 20px ;
	background-color: #66BFBF;
	height: 100px;
	align-items: center;
}

.bottom-cloud{
	position: absolute;
	right: 300px;
	top: 40px;
}

.top-cloud{
	position: absolute;
	left: 300px;
	bottom: 275px;
}


.skill-row{
	width: 50%;
	margin: 100px auto 100px auto;
	text-align: left;
	line-height: 2;
}
.software-engineer-icons{
    width: 25%;
	float: left;
	margin-right: 30px;
}

.software-test-icons{
    width: 25%;
	float: right;
	margin-left: 30px;
}

.btn {
	-webkit-border-radius: 9;
	-moz-border-radius: 9;
	border-radius: 9px;
	/*font-family: 'Mukta', sans-serif;*/
	font-family: 'Montserrat', sans-serif;
	color: #ffffff;
	font-size: 20px;
	background: #11999E;
	padding: 10px 20px 10px 20px;
	text-decoration: none;
  }
  
  .btn:hover {
	background: #2bc4ad;
	text-decoration: none;
  }

  .myimage{
	width: 20%;
  }

  .copyright{
	color: #EAF6F6;
	font-size: 0.95rem;
	padding: 20px 0;
  }

  a{
	color: #11999E;
	margin: auto 20px auto 20px;
	text-decoration: none;
	font-family: 'Merriweather', serif;
}

a:hover{
	color: #EAF6F6;

}